<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :group_category %>
    <%= f.input :name %>
    <%= f.input :description %>
    Logo
    <label class="file">
      <%= f.file_field :logo %>
      <span class="file-custom"></span>
    </label>
    Banner
    <label class="file">
      <%= f.file_field :banner %>
      <span class="file-custom"></span>
    </label>
    <%= f.input_field :banner, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
