<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :groups, as: :check_boxes %>
    <%= f.input :date %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :street %>
    <%= f.input :suburb %>
    <%= f.input :state %>
    <%= f.input :postcode %>
    <%= f.input :country %>
    <%= f.input :tag_list, input_html: { value: @event.tag_list.to_s } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
