<!DOCTYPE html>
<html>
<head>
  <title>Communitymaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

</head>
<body>
<%= render 'layouts/navbar' %>
<% if content_for? :group_name %>
  <section class="group-banner" style="background-image: url(<%= yield(:group_banner) %>); height: 200px;">
    <h1><%= yield(:group_name) %></h1>
  </section>
<% end %>
<div class="container">
<%= yield %>
</div>
</body>
</html>
